@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --main-bgn-light: hsl(0, 0%, 98%);
  --main-element-light: hsl(0, 0%, 100%);
  --main-text-light: hsl(200, 15%, 8%);
  --main-bgn-dark: hsl(207, 26%, 17%);
  --main-element-dark: hsl(209, 23%, 22%);
  --main-text-dark: hsl(0, 0%, 100%);
}



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
}

html {
  font-size: 10px;
}

h2 {
  font-size: 2rem;
}

.header {
  text-align: left;
  background-color: var(--main-element-light);
  display: flex;
  justify-content: space-between;
}